html {
  font-size: 62.5%;
}

body {
  background-color: rgb(0, 74, 59);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  text-align: center;
  color: white;
  margin: 0;
}

header {
  background-color: #003328;
}

h1 {
  font-size: 8rem;
  color: #B9E5C6;
  font-weight: 800;
}

h2 {
  color: #B9E5C6;
}

a {
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #FDAF32;
  font-weight: 800;
}

section {
  text-align: center;
  width: 40%;
  display: inline-block;
}

p {
  columns: auto 2;
  text-align: left;
  line-height: 1.4;
}

figure {
 width: 40%;
 display: inline-block;
}

figure img {
  width: 100%;
}

figcaption {
  font-style: italic;
}